@import url('http://fonts.cdnfonts.com/css/aniron');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* RESET PARA REMS  */
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.h1 {
  font-size: 3.6rem;
}

.h2 {
  font-size: 3.2rem !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
  font-size: 2.4rem;
}

.centrar-texto {
  text-align: center;
}

/*HEADER*/
.logo {
  display: flex;
}

.header__contenedor {
  background-image: url(../img/gandalf.jpg);
  background-position-x: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 60rem;
  grid-area: header;
}

.header__contenedor__display {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__contenedor__display h1 {
  color: white;
  padding-bottom: 2rem;
}

.header__contenedor__display__logoandnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
}

.d-block {
  display: inline-block;
}

.navegacion li {
  display: flex;
  display: inline-block;
  color: white;
  text-decoration: overline;
  font-size: 2.2rem;
  margin-right: 2.4rem;
}

.navegacion a {
  color: #ffffff;
}

.navegacion a:hover {
  color: #13a8a8;
}

/*NOSOTROS*/
.nosotros__titulo {
  font-family: 'Aniron', sans-serif;
  font-size: 1.9em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.svg--cards {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: auto;
  width: 110px;
}
.card__nosotros {
  width: 280px;
  background-color: #1291c4;
  color: black;
  border: 2.7px solid rgb(255, 45, 45);
  border-radius: 0 0 7px 7px;
  margin: 0.3rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card__nosotros:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05, 1.05);
}

.card__nosotros h4 {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.card__nosotros hr {
  height: 4.2px;
  color: rgb(255, 45, 45);
}

.card__nosotros p {
  color: white;
  font-size: 0.97em;
  line-height: 2.7rem;
  padding: 7.5px 7.5px 13px 13px;
}

.card__nosotros span a {
  font-style: italic;
  font-weight: 550;
  text-decoration: none;
  color: rgb(252, 205, 103);
}

/** BANNER **/

.index__banner {
  display: flex;
  flex-direction: column;
  justify-content: center center;
  width: 500px;
  height: 250px;
  margin: auto;
  margin-top: 4.5rem;
  padding: auto;
  border-radius: 5px;
}

/*GRADIENTES*/
.gradientuno {
  background-image: radial-gradient(circle, #ffcdd2, #90caf9, #ffffff, #ffffff);
}

.gradientdos {
  background-image: radial-gradient(
    circle,
    #ffcdd2,
    #ffcdd2,
    #90caf9,
    #ffffff,
    #ffffff
  );
}

.iconos h3 {
  text-transform: uppercase;
}

.titulosmedio {
  color: #ffffff;
  text-decoration: overline;
}

.merch {
  text-decoration: solid;
  color: #ffa600;
  font-weight: bold;
}

/*BOTONES*/
.boton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
}

.boton-azul {
  background-color: #13a8a8;
}

.boton-verde {
  background-color: #53b44a;
}



/**UTILITY-BRO**/
.escalado-card {
  margin-bottom: 2.7rem;
}

/** ANUNCIOS **/
.titulo__ofertas {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.main__contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__contenedor__anuncios__display {
  width: 31%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 3px;
  border: 4px solid #13a8a8;
  background-color: #fd3a4a;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.effect {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
.effect:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  transform: scale(1.01, 1.01);
}
.titulos__anuncios__medio {
  font-size: 1.05em;
  font-weight: 520;
  color: #ffffff;
  text-decoration: overline;
}

.parrafos1 {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
}

.contenido-anuncios {
  padding: 2rem;
}

.contenido-anuncios h3 {
  margin: 0rem;
}

.contenido-anuncios p {
  margin: 0rem;
}

.subtitulo {
  color: #ffffff;
  font-weight: 700;
}

.ver-todas {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

/*FOOTER*/
.site-footer {
  background-color: #000000;
  margin: 0;
}

.contenedor-footer {
  padding: 1.7rem 0;
  display: flex;
  justify-content: center;
}

.navegacion-footer a {
  color: white;
  text-decoration: overline;
  font-size: 1.7rem;
  margin-right: 2.4rem;
}

.navegacion-footer a:hover {
  color: #13a8a8;
}

.copyright {
  margin: 0;
  color: #ffffff;
}

/*ANIMACIONES*/
.animacion-uno {
  animation-duration: 0.34s;
  animation-name: animacion-uno;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animacion-uno {
  from {
    margin-right: 5%;
    width: auto;
  }
  to {
    margin-left: 1%;
    width: auto;
  }
}

/**MEDIA**/
@media only screen and (max-width: 680px) {
  .header__contenedor {
    background-image: url(../img/gandalfmobile.png);
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    grid-area: header;
  }

  .logo {
    padding: 10px;
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header__contenedor {
    background-image: url(../img/gandalfmobile.png);
    background-position-y: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    grid-area: header;
  }
  .titulo__ofertas {
    font-size: 1.25em;
    font-weight: 600;
  }
  .nosotros__titulo {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .main__contenedor__anuncios__display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .titulos__anuncios__medio {
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 1.5rem;
  }
  .subtitulo {
    font-size: 1.05em;
  }
  .parrafos1 {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  .ver-todas{
    display: flex;
    justify-content: center;
  }
    
}

/*ANIMACION PARA DIVS*/
.color-animation {
  transition: 0.1s box-shadow;
}

.color-animation:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.color-animation:hover::before {
  display: block;
  background: #fda8cf;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.color-animation:hover:after {
  background: #f3ce5e;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

/*TARJETAS*/
.cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  width: 280px;
  background-color: #fd3a4a;
  color: white;
  border: 0.5px solid white;
  border-radius: 0 0 7px 7px;
  margin: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05, 1.05);
}

.card h4 {
  padding: 10px 0px 0 10px;
  font-weight: 600;
}

.card p {
  font-size: 0.9em;
  padding: 5px 5px 0 10px;
}

.card a {
  margin-top: 1rem;
  font-size: 0.9em;
  font-weight: 650;
  text-align: center;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 35px;
}

.card span {
  font-style: italic;
  font-weight: 550;
}

/**BANNER**/

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

/**LINEUP**/

.contenedor__section__lineup {
  display: flex;
  width: 100%;
  height: 800px;
}
